body {
	background-color: #DCDCDC;
	margin:0px 0px 0px 0px;
}

#table{
	margin-top:20px;
	margin-left:30%;
	}

td{
	border:2px solid black;
	padding-right:10px;
	padding-left:10px;
	text-color: #ffffff;
	padding:5px 15px 5px 15px;
	background-color:#808080;
}

th{
	border:2px solid black;
	padding-right:10px;
	padding-left:10px;
	color: #FFEBCD;
	padding:5px 15px 5px 15px;
	background-color:#808080;
}
h2 {
	font-family: Verdana;
	font-weight: bold;
	text-align: center;
	padding-top:0px;
	padding-bottom:25px;
	color: #acd1b2;
}

a:link {
	text-decoration:none;
	color:#ffffff
}


a:visited {
	text-decoration:none; 
	color:#ffffff
}


a:hover {
	font-weight: bold; 
}

#classes{
	position:relative;
	border:2px solid black;
	margin-left:23%;
	margin-top:10px;
	margin-bottom:10px;

}

#main {
	position: relative;
	top: -10px;
	background-color: #3c4543;

}
#footer{
	position: relative;
	bottom:-20px;
	height: 75px;
	background-color: #3c4543;
	
}

#contact{
	border: 2px solid #000000;
	float:left;
	position:relative;
	margin-left: 28%;
	bottom: -20px;
	border-radius: 5px;
	background-color: #BC8F8F;
	height: 30px;
	width: 550px;
	
	
}

#contact p{
	position: relative;
	bottom: 10px;
	font-size: 1em;
	color: #acd1b2;
	text-align:center;
}

.bold{
	font-family: sans-serif;
	font-weight: bold;
	font-size: 1.2em;
	color: #ffffff;
}
